.codeStyle {
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  overflow-x: auto;
}
.p5 {
  font-size: 0.7em;
}

.comment {
  color: rgb(111, 111, 111);
}
.attention {
  color: rgb(155, 0, 0);
}

img {
  margin-top: 5px;
  width: 100%;
}
