//***main.scss***
//body
$body_BG: #ffffff;
$textColor: rgb(35, 33, 33);
$margin_left: 20px;
$grey3: rgb(236, 219, 229);

//***Header.scss***
//at .headerT
$headerT_BG: rgb(0, 0, 0);
$titleColor: rgb(178, 8, 82);

//***App.scss***
//contentCard
$cCard_BG: rgb(255, 255, 255);
$cardShadow: rgb(155, 134, 152);
$cCard_BG_hover: rgb(254, 251, 253);
$cardShadow_hover: rgb(215, 157, 206);
